mat-spinner {
    text-align: center;
    margin: auto;
}
.mat-raised-button {
    display: block;
    margin:auto;
}
input[type="file"] {
    visibility: hidden;
}
.mat-form-field {
    display: block;
}
.img-upload {
    text-align: left;
}
.image-preview {
    height: 5rem;
    margin: 1rem 0;
    text-align: left;
}
.image-preview img {
    height: 100%;
}