<mat-accordion *ngIf="posts.length > 0">
    <mat-expansion-panel *ngFor="let post of posts">
        <mat-expansion-panel-header>
            <mat-panel-title>
            {{post.title}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{post.content}}</p>
        <mat-action-row>
                <img src=' {{post.imagePath}}'>
            <a mat-button [routerLink]="['/edit', post.id]" color="primary">Edit</a>
            <button mat-button color="default" (click)="postDelete(post.id)">deleted</button> 
            <!-- if posts add and deleted dont send id for deleted -->
            <!-- <app-post-delete></app-post-delete> -->
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0 ">No Posts added Yet</p>